@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

    font-family: sans-serif;
    color: #000;
    font-weight: 300;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.bags {
    text-align: center;
    font-size: 5em;
}

.btn1, .btn2, .btn3, .btn4 {
    color: #000;
    text-decoration: none;
    padding: .5em 1em;
    border-radius: 5px;
    display: inline-block;
    margin: .5em;
}

.btn1:hover,
.btn1:active,
.btn1:focus {
    background-color: #579339;
    color: #fff;
}

.btn2:hover,
.btn2:active,
.btn2:focus {
    background-color: #579339;
    color: #fff;
}

.btn3:hover,
.btn3:active,
.btn3:focus {
    background-color: #579339;
    color: #fff;
}

.btn4:hover,
.btn4:active,
.btn4:focus {
    background-color: #579339;
    color: #fff;
}

.title {
    padding-top: 2em;
    font-family: 'Futura', sans-serif;
    font-weight: normal;
    text-align: center;
    color: #579339;  
}