@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

    font-family: sans-serif;
    color: #000;
    font-weight: 300;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.btn1, .btn2, .btn3, .btn4 {
    color: #000;
    text-decoration: none;
    padding: .5em 1em;
    border-radius: 5px;
    display: inline-block;
    margin: .5em;
}

.btn1:hover,
.btn1:active,
.btn1:focus {
    background-color: #99ff00;
}

.title {
    font-family: sans-serif;
}